<%# Main template %>

<%- include('partials/head.ejs')%>

<div class="global-wrapper">
    <%- include('partials/header.ejs') %>

    <%# Template routing %>
    <% if(page === "results") { %>
        <%- include("pages/results.ejs") %>
    <% } else if (page === "suggestions") { %>
        <%- include("pages/suggestions.ejs") %>
    <% } else if (page === "suggestions") { %>
        <%- include('home.ejs') %>
    <% } else { %>
        <%# on page load, by default %>
        <%- include('home.ejs') %>
    <% } %>
    
    <%- include('partials/footer.ejs') %>
</div>
