<%# initializing sidebar data nested arrays, to be filled and nested on each iteration %>
<%  const sidebarList = []
    let   grammarClasses = []
    let   topSynonyms = [] %>

<div id="results-content" class="container">
    
    <div class="row">
        
        <%# Entry %>
        <div id="entry" class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">

                <h1 class="entry-heading"><%= entry %></h1>

                <% results.map((result) => { %>
                    <%# if the result is only for the word, not a phrase containing it %>
                    <% if(result.meta.id === entry){ %>
                        <% const grammarClass = result.fl; %>
                        <% grammarClasses.push(grammarClass); %> 
                            
                            <%# Sense heading %>
                            <div class="grammar-class-wrapper">
                                <h2 class="grammar-class-heading">
                                    <%= entry %>
                                    <span class="grammar-class"> - <%= grammarClass %></span>
                                </h2>

                                <% const senses = result.def[0].sseq;
                                senses.map((sense, index) => { %>

                                    <%# As in ... %>
                                    <% let asIn = "";
                                    if(sense[0][1].syn_list){
                                        const synonyms = sense[0][1].syn_list[0];
                                        asIn = synonyms[0].wd;
                                        topSynonyms.push(asIn);
                                    } else if(sense[0][1].sim_list){
                                        const synonyms = sense[0][1].sim_list[0];
                                        asIn = synonyms[0].wd;
                                        topSynonyms.push(asIn);
                                    } %>

                                    <%# Sense %>
                                    <div class="sense-item">
                                        <div class="sense-basics">

                                            <%# Sense heading %>
                                            <div class="sense-basics-header">
                                                <h3 id="<%= asIn %>">
                                                <%# Only showing order number if > 1 %>
                                                <% if(senses.length > 1){ %>
                                                    <span class="sense-order"><%= index + 1 %></span>
                                                <% } %>
                                                As in <%= asIn %></h3>
                                            </div>
                                            
                                            <%# Meaning %>
                                            <% const meaning = sense[0][1].dt[0][1]; %>
                                            <div class="sense-description-wrapper">
                                                <p class="sense-description" style="font-weight: bold;"><%= meaning %></p>
                                            </div>
                                            
                                            <%# Example sentence %>
                                            <% if(sense[0][1].dt[1]){ 
                                                const example = sense[0][1].dt[1][1][0].t; %>
                                                <div class="sense-example-wrapper">
                                                    <p class="sense-example"><%= example %></p>
                                                </div>
                                            <% }; %>
                                        </div>
                                        
                                        <%# Synonyms (& simlar & related) %>
                                        <% if(sense[0][1].syn_list || sense[0][1].rel_list || sense[0][1].sim_list){ %>
                                            <div class="synonyms-et-altri-item">
                                                <h4 class="synonyms-similars-heading">Synonyms & similar words</h4>
                                                <% if(sense[0][1].syn_list){ %>
                                                    <%- include('partials/variations.ejs', { 
                                                        variationsName: "synonyms",
                                                        variations: sense[0][1].syn_list 
                                                    }) %>
                                                    
                                                <% } %>
                                                <% if(sense[0][1].sim_list){ %>
                                                    <%- include('partials/variations.ejs', { 
                                                        variationsName: "similars",
                                                        variations: sense[0][1].sim_list 
                                                    }) %>
                                                    
                                                <% } %>
                                                <% if(sense[0][1].rel_list){ %>
                                                    <%- include('partials/variations.ejs', { 
                                                        variationsName: "relateds",
                                                        variations: sense[0][1].rel_list 
                                                    }) %>
                                                <% } %>
                                            </div> 
                                        <% }; %>

                                        <%# Antonyms (& opposites) %>
                                        <% if(sense[0][1].ant_list || sense[0][1].near_list || sense[0][1].opp_list){ %> 
                                            <div class="antonyms-et-altri-item">
                                                <h4 class="antonyms-heading">Antonyms & near antonyms</h4>
                                                <% if(sense[0][1].ant_list){ %>
                                                    <%- include('partials/variations.ejs', { 
                                                        variationsName: "antonyms",
                                                        variations: sense[0][1].ant_list 
                                                    }) %>
                                                <% } %>
                                                <% if(sense[0][1].near_list){ %>
                                                    <%- include('partials/variations.ejs', { 
                                                        variationsName: "near-antonyms",
                                                        variations: sense[0][1].near_list 
                                                    }) %>
                                                <% } %>
                                                <% if(sense[0][1].opp_list){ %>
                                                    <%- include('partials/variations.ejs', { 
                                                        variationsName: "opposites",
                                                        variations: sense[0][1].opp_list 
                                                    }) %>
                                                <% } %>
                                                
                                            </div>
                                            
                                        <% }; %>
                                    </div>
                                    
                                <% }); %>
                            </div>
                            
                            <%# Pushing to sidebar and emptying %>
                            <% grammarClasses.push(topSynonyms);
                            sidebarList.push(grammarClasses);
                            topSynonyms = [] 
                            grammarClasses = [] %>;
                    <% } %> 
                    
                <% }); %>

            </div>
            
            <%# Phrases containing the entry, if they exist (check inside partial) %>
            <%- include('partials/phrases.ejs', { entry: entry }) %>
            
        </div><%#-- Entry -- %>

        <%# Sidebar %>
        <div id="left-sidebar" class="col-4">
            <%- include('partials/sidebar.ejs', { sidebarList: sidebarList }) %>
        </div><%#-- Sidebar -- %>
     
    </div>

</div><%#-- Container -- %>


