<%# initializing sidebar data nested arrays, to be filled and nested on each iteration %>
<%  const sidebarList = []
    let   grammarClasses = []
    let   topSynonyms = [] %>

<div id="main">
    
    <div class="container-fluid">
        <div class="row main-wrapper">

            <%# Entry %>
            <div id="entry" data-bs-spy="scroll" data-bs-target="#as-in-list" data-bs-smooth-scroll="true" class="col-md-9 col-lg-7 scrollspy-example" tabindex="0">

                <h1 class="entry-heading"><%= entry %></h1>

                <%# filtering results which are only for the word, not a phrase containing it %>
                <% const mainResults = results.filter((result) => result.meta.id === entry); 
                total = mainResults.length %>

                <% mainResults.map((mainResult, index) => { 
                    const grammarClass = mainResult.fl; 
                    grammarClasses.push(grammarClass); %> 
                        
                        <%# Sense heading %>
                        <div class="row grammar-class-wrapper">
                            <div class="col-auto grammar-class-heading">
                                <h2><%= entry %></h2>
                            </div>
                            <div class="col-auto grammar-class-numeration">
                                <span><%= index + 1 %> of <%= total %></span>
                            </div>
                            <div class="col-auto grammar-class">
                                <span><%= grammarClass %></span>
                            </div>
                        </div>

                        <% const senses = mainResult.def[0].sseq;
                        senses.map((sense, index) => { %>

                            <%# As in ... %>
                            <% let asIn = "";
                            if(sense[0][1].syn_list){
                                const synonyms = sense[0][1].syn_list[0];
                                asIn = synonyms[0].wd;
                                topSynonyms.push(asIn);
                            } else if(sense[0][1].sim_list){
                                const synonyms = sense[0][1].sim_list[0];
                                asIn = synonyms[0].wd;
                                topSynonyms.push(asIn);
                            } %>

                            <%# Sense %>
                            <section class="sense-item">
                                <div class="row sense-basics">

                                    <%# Sense heading %>
                                    <div class="col-12 sense-intro-wrapper">
                                        <h3 id="<%= asIn %>">
                                        <%# Only showing order number if > 1 %>
                                            <% if(senses.length > 1){ %>
                                                <span class="sense-order"><%= index + 1 %></span>
                                            <% } %>
                                            As in <span class="as-in-word"><%= asIn %></span>
                                        </h3>
                                    </div>
                                    
                                    <%# Meaning %>
                                    <% const meaning = sense[0][1].dt[0][1]; %>
                                    <div class="col-12 sense-description-wrapper">
                                        <p class="sense-description"><%= meaning %></p>
                                    </div>
                                    
                                    <%# Example sentence %>
                                    <% if(sense[0][1].dt[1]){ 
                                        const example = sense[0][1].dt[1][1][0].t; %>
                                        <div class="col-12 sense-example-wrapper">
                                            <p class="sense-example"><%= example %></p>
                                        </div>
                                    <% } %>
                                </div>
                                
                                <%# Synonyms (& simlar & related) %>
                                <% if(sense[0][1].syn_list || sense[0][1].rel_list || sense[0][1].sim_list){ %>
                                    <div class="row synonyms-etc-wrapper">
                                        <h4 class="synonyms-similars-heading">Synonyms & similar words</h4>
                                        <% if(sense[0][1].syn_list){ %>
                                            <%- include('partials/variations.ejs', { 
                                                variationsName: "synonyms",
                                                variations: sense[0][1].syn_list 
                                            }) %>     
                                        <% } %>
                                        <% if(sense[0][1].sim_list){ %>
                                            <%- include('partials/variations.ejs', { 
                                                variationsName: "similars",
                                                variations: sense[0][1].sim_list 
                                            }) %>
                                        <% } %>
                                        <% if(sense[0][1].rel_list){ %>
                                            <%- include('partials/variations.ejs', { 
                                                variationsName: "relateds",
                                                variations: sense[0][1].rel_list 
                                            }) %>
                                        <% } %>
                                    </div> 
                                <% } %>

                                <%# Antonyms (& opposites) %>
                                <% if(sense[0][1].ant_list || sense[0][1].near_list || sense[0][1].opp_list){ %> 
                                    <div class="row antonyms-etc-wrapper">
                                        <h4 class="antonyms-heading">Antonyms & near antonyms</h4>
                                        <% if(sense[0][1].ant_list){ %>
                                            <%- include('partials/variations.ejs', { 
                                                variationsName: "antonyms",
                                                variations: sense[0][1].ant_list 
                                            }) %>
                                        <% } %>
                                        <% if(sense[0][1].near_list){ %>
                                            <%- include('partials/variations.ejs', { 
                                                variationsName: "near-antonyms",
                                                variations: sense[0][1].near_list 
                                            }) %>
                                        <% } %>
                                        <% if(sense[0][1].opp_list){ %>
                                            <%- include('partials/variations.ejs', { 
                                                variationsName: "opposites",
                                                variations: sense[0][1].opp_list 
                                            }) %>
                                        <% } %>
                                    </div>             
                                <% } %>
                            </section>
                                
                            <% }); %>
                        
                        <%# Pushing to sidebar and emptying %>
                        <% grammarClasses.push(topSynonyms);
                        sidebarList.push(grammarClasses);
                        topSynonyms = [] 
                        grammarClasses = [] %>
                    
                <% }); %>

                <%# Phrases containing the entry, if they exist (check inside partial) %>
                <%- include('partials/phrases.ejs', { entry: entry }) %>

            </div><%#-- Entry -- %>

            <%# Sidebar %>
            <div id="left-sidebar" class="d-none d-lg-block col-2"><%# d-none d-lg-block col-2 %>
                <%- include('partials/sidebar.ejs', { sidebarList: sidebarList }) %>
            </div><%#-- Sidebar -- %>
             
        </div><%#-- main-wrapper --%>
        
    </div><%#-- Container-fluid -- %>

</div>


