<%- include('partials/header.ejs') %>

<%- include('partials/form.ejs') %>

<div class="container">

    <%# Main heading %>
    <h1 class="entry-heading"><%= entry %></h1>

    <% results.map((result) => { %>
        
        <%# Sense heading %>
        <% const grammarClass = result.fl %>
        <h2>
            <%= entry %>
            <span class="grammar-class"> - <%= grammarClass %></span>
        </h2>

        <% const senses = result.def[0].sseq;
        senses.map((sense, index) => { %>

            <%# Sense %>
            <% const meaning = sense[0][1].dt[0][1]; 
                if(senses.length > 1){ %>
                    <span class="sense-order"><%= index + 1 %></span>
                <% } %>
                <p class="meaning-description" style="font-weight: bold;"><%= meaning %></p>
                
                <%# Example sentence %>
                <% if(sense[0][1].dt[1]){ // example sentence is not always present! 
                    const example = sense[0][1].dt[1][1][0].t; %>
                    <p class="meaning-example"><%= example %></p>
                <% }; %>
                
                <%# Synonyms %>
                <%- include('partials/synonyms.ejs', { sense: sense }) %>
                
                <%# Related words %>
                <%- include('partials/related.ejs', { sense: sense }) %>
                
                <%# Antonyms %>
                <%- include('partials/antonyms.ejs', { sense: sense }) %>

        <% }); %>

    <% }); %> 

    </div><%#-- Container -- %>

<%- include('partials/footer.ejs') %>


